# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-portable
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SpacetimeDB CLI binaries
spacetime.tar.gz
spacetimedb-cli
spacetimedb-standalone
frontend/node_modules/
frontend/package-lock.json
wget-log

# Firebase
.firebase/
firebase-debug.log

# Frontend build files
frontend/landing.html
